<!-- src/app/resume/resume.component.html -->
<div class="resume-container">
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <nav class="side-menu" [ngClass]="menuClasses" >
      <ul>
        <li><a (click)="scrollToSection('about')">{{"about_me" | translate}}</a></li>
        <li><a (click)="scrollToSection('experience')">{{"experience" | translate}}</a></li>
        <li><a (click)="scrollToSection('education')">{{"education" | translate}}</a></li>
        <li><a (click)="scrollToSection('skills')">{{"skills" | translate}}</a></li>
        <li><a (click)="scrollToSection('testimonal')">{{"testimonials" | translate}}</a></li>
      </ul>
    </nav>



    <main class="resume-content">
      <div id="about">
        <h2>{{"about_me" | translate}}</h2>
        <div class="about_content">
          <div class="about_photo">
            <img src="assets/images/avatars/me.jpg">
          </div>
          <div class="about_me">
            <h1>Moubien Kayali</h1> <p>{{"about_p1" | translate}}</p>
            <p>{{"about_p2" | translate}}</p>
            <p>{{"about_p3" | translate}}</p>
          </div>
          <div class="span-3"></div>
          <div class="contact_details">
            <h5>Moubien Kayali</h5>
            <p>
        <br>
              Saudi Arabia - Riyadh<br>
              +966 54 255 1520<br>
              <a href="mailto:mobeen-k@hotmail.com">mobeen-k&#64;hotmail.com</a>
            </p>
          </div>
          <div class="download_resume">
            <a href="assets/cv.pdf" download class="btn-download">Download CV</a>
          </div>
        </div>
      </div>
    
      <div id="experience">
        <h2>{{"experience" | translate}}</h2>
        <div class="experience_content">
          <!-- <h3>Experience</h3> -->
          <!-- <h4>Cloud Solutions</h4><img src="assets/images/avatars/me.jpg"> -->
          <div class="header-container">
            <img src="assets/images/avatars/cs.png" alt="Company Logo" class="logo">
            <h4>{{'Cloud_Solutions' | translate}}</h4>
          </div>
        
          <h5>{{'Senior_Software_Developer' | translate}}.       <span>JULY 2023 - PRESENT</span></h5>
          <h6>{{'Cyclus_Application' | translate}}</h6>
          <ul>
          
            <li>{{'Microservice_architecture' | translate}}</li>
            <li>{{'Net_Core_API' | translate}}</li>
            <li>{{'SQL_Server' | translate}}</li>
            <li>{{'HL7_FHIR' | translate}}</li>
            <li>{{'NSSM' | translate}}</li>
          </ul>


      
          <div class="header-container">
            <img src="assets/images/avatars/saib.png" alt="Company Logo" class="logo">
            <h4>{{'Saudi_Investment_Bank' | translate}}</h4>
          </div>
          <h5>{{'Senior_Software_Developer' | translate}}.       <span>{{'May_2023_July' | translate}}</span></h5>
          <h6>{{'Working_Saudi_Investment' | translate}}</h6>
          <ul>
        
            <li>{{'NET_Core_MVC' | translate}}</li>
            <li>{{'Net_Core_API' | translate}}</li>
            <li>{{'Spring_Boot' | translate}}</li>
            <li>{{'Call_Reports' | translate}}</li>
          </ul>


    
          <div class="header-container">
            <img src="assets/images/avatars/wipro.png" alt="Company Logo" class="logo">
            <h4>{{'Wipro_Arabia' | translate}}</h4>
          </div>
          <h5>{{'Full_Stack_Developer' | translate}} .    <span>{{'March_2022_March_2023' | translate}}</span></h5>
          <h6>{{'Attendance_portal' | translate}}</h6>
          <ul>
            
            <li>{{'Windows_Worker_service' | translate}}</li>
            <li>{{'Windows_service_built' | translate}}</li>
            <li>{{'Integration_IBM' | translate}}</li>
          </ul>


       
          <div class="header-container">
            <img src="assets/images/avatars/takaful.jpeg" alt="Company Logo" class="logo">
            <h4>{{'Al_Rajhi_Takaful' | translate}}</h4>
          </div>
          <h5>{{'Senior_Software_Developer' | translate}}.       <span>{{'July_2021_November' | translate}}</span></h5>
          <h6>{{'Full_Stack_Different' | translate}}</h6>
          <ul>
            <li>{{'Marine_Insurance' | translate}}</li>
            <li>{{'ePortal_Policies' | translate}}</li>
            <li>{{'Corporate_Portal' | translate}}</li>
            <li>{{'Corporate_Intranet' | translate}}</li>
            <li>{{'ESKADENIA_portal' | translate}}</li>
            <li>{{'PreAuth_portal' | translate}}</li>

          </ul>



          
          <div class="header-container">
            <img src="assets/images/avatars/alamih.png" alt="Company Logo" class="logo">
            <h4>{{'Alamiah' | translate}}</h4>  
          </div> 
          <h5>{{'NET_Developer' | translate}}&nbsp;. <span>{{'January_2016_May' | translate}}</span></h5>
          
          <ul>
            <li>{{'Developed_SQL' | translate}}</li>
            <li>{{'Managed_Oracle' | translate}}</li>
            <li>{{'Designed_Crystal' | translate}}</li>
            <li>{{'Enhanced_daily' | translate}}</li>
            <li>{{'Produced_comprehensive' | translate}}</li>
            <li>{{'Demonstrated_strong' | translate}}</li>
          </ul>
          <p><strong>{{'Technologies_Utilized' | translate}}:</strong></p>
          <ul>
            <li>{{'Programming_Language' | translate}}</li>
            <li>{{'Server_Side' | translate}}</li>
            <li>{{'Database' | translate}}</li>
            <li>{{'Client_Side' | translate}}</li>
            <li>{{'Markup_Languages' | translate}}</li>
            <li>{{'Frameworks' | translate}}</li>
            <li>{{'Reporting' | translate}}</li>
            <li>{{'Additional_Skills' | translate}}</li>
          </ul>
        </div>
      </div>
    
      <div id="education">
        <h2>{{"education" | translate}}</h2>
        <div class="education_content">
          <h4>{{'MSA_University' | translate}}</h4>
          <h5>{{'Bachelor_Degree' | translate}} .    <span>{{'October_2015' | translate}}</span></h5>
      
          <p>
            <span>{{'MSA_Description' | translate}}</span>
          </p>
        </div>
      </div>
    
      <div id="skills">
        <h2>{{"skills" | translate}}</h2>
        <div class="skills_content">
          <p>{{'skills_description' | translate}}</p>
          <div class="skill">
            <span class="skill-name">.NET CORE</span>
            <div class="progress-bar">
              <div class="progress" style="width: 90%;"></div>
            </div>
          </div>
          <div class="skill">
            <span class="skill-name">ANGULAR</span>
            <div class="progress-bar">
              <div class="progress" style="width: 85%;"></div>
            </div>
          </div>
          <div class="skill">
            <span class="skill-name">JAVASCRIPT</span>
            <div class="progress-bar">
              <div class="progress" style="width: 80%;"></div>
            </div>
          </div>
          <div class="skill">
            <span class="skill-name">AGILE DEVELOPMENT</span>
            <div class="progress-bar">
              <div class="progress" style="width: 75%;"></div>
            </div>
          </div>
          <div class="skill">
            <span class="skill-name">HTML, CSS</span>
            <div class="progress-bar">
              <div class="progress" style="width: 90%;"></div>
            </div>
          </div>
        </div>
      </div>
      
      <h2>{{"testimonials" | translate}}</h2>
      <div id="testimonal" class="testimonial-cards">
      
        <div class="testimonial-card">
          <div class="author-image">
            <img src="assets/images/avatars/abhay.png" alt="Author Image">
          </div>
          <div class="testimonial-content">
            <h3>{{'Abhay_Kumar_Singh' | translate}}</h3>
            <h4>{{'Senior_Manager' | translate}}</h4>
            <p>
              {{'Abhay_testimonial' | translate}}
            </p>
          </div>
        </div>

        <div class="testimonial-card">
          <div class="author-image">
            <img src="assets/images/avatars/ali.png" alt="Author Image">
          </div>
          <div class="testimonial-content">
            <h3>{{'Ali_Al_Hilali' | translate}}</h3>
            <h4>{{'Database_Administrator' | translate}}</h4>
            <p>
              {{'Ali_testimonial' | translate}}
            </p>
          </div>
        </div>

        <div class="testimonial-card">
          <div class="author-image">
            <img src="assets/images/avatars/muqeet.png" alt="Author Image">
          </div>
          <div class="testimonial-content">
            <h3>{{'Muhammed_Muqeet' | translate}}</h3>
            <h4>{{'Senior_Software_Wipro' | translate}}</h4>
            <p>
              {{'Muhammed_testimonial' | translate}}
            </p>
          </div>
        </div>

        <div class="testimonial-card">
          <div class="author-image">
            <img src="assets/images/avatars/rama.png" alt="Author Image">
          </div>
          <div class="testimonial-content">
            <h3>{{'Abhay_Kumar_Singh' | translate}}</h3>
            <h4>{{'Senior_Manager' | translate}}</h4>
            <p>
              {{'Abhay_testimonial' | translate}}
            </p>
          </div>
        </div>
        
      </div>
    </main>
    
    

  </div>
  