<div class="contact-component">
    <div class="contact-content">
      <h2>{{ "SAY HELLO" | translate }}</h2>
      <p>{{ "contact_h2" | translate}}</p>
      <div class="contact-details">
        <p><strong>Email:</strong> mobeen-k&#64;hotmail.com</p>
        <p><strong>Phone:</strong> +966-542551520</p>
      </div>
      <a href="#contact-form" class="btn-letstalk">LET'S TALK</a>
    </div>
    
    <div id="contact-form" class="contact-form">
      <h3>{{"contact_form" | translate}}</h3>
      <form action="submit.php" method="post">
        <label for="name">{{"Name"  | translate}}</label>
        <input type="text" id="name" name="name" required>
        
        <label for="email">{{"Email" | translate}}</label>
        <input type="email" id="email" name="email" required>
        
        <label for="message">{{"Message" | translate}}</label>
        <textarea id="message" name="message" rows="4" required></textarea>
        
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  