<!-- src/app/app.component.html -->
<div class="content-wrapper">
  <header>
    <nav class="top-nav">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">{{ 'HOME'  | translate}}</a></li>
        <li><a routerLink="/resume" routerLinkActive="active">{{ 'RESUME' | translate }}</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">{{ 'CONTACT' | translate }}</a></li>
        <li>
          <button (click)="switchLanguage('en')">English</button>
          <button (click)="switchLanguage('ar')">العربية</button>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>

<footer>
  <p>&copy; 2024 My Website</p>
</footer>
