* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  // .container {
  //   display: flex;
  //   flex-direction: column;
  //   height: 100vh;
  // }
  
  /* Top Navigation Bar */
  .top-nav {
    // position: fixed;
    // width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .top-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .top-nav ul li {
    margin: 0 15px;
  }
  
  .top-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .top-nav ul li a:hover,
  .top-nav ul li a.active {
    text-decoration: underline;
  }