* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure container takes at least the full viewport height */
    margin: 0;
    padding: 0;
  }
  .content-wrapper {
    flex: 1; /* This makes content-wrapper take up remaining vertical space */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  header {
    margin: 0;
    padding: 0;
  }
  /* Top Navigation Bar */
  .top-nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin: 0;
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      li {
        margin: 0 15px;
        a {
          color: #fff;
          text-decoration: none;
          font-size: 18px;
          &:hover, &.active {
            background-color: var(--color-orange-title);
            padding: 5px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .top-nav {
      padding: 5px 0;
      ul {
        li {
          margin: 5px 10px;
          a {
            font-size: 16px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .top-nav {
      ul {
        li {
          margin: 3px 5px;
          a {
            font-size: 14px;
            padding: 3px 5px;
          }
        }
      }
    }
  }

  .main-content {
    flex: 1; /* Take up remaining space */
    margin: 0 !important;
    padding: 0 !important;
    display: block;
  }
  
  /* Footer styles */
  // .footer {
  //   background-color: #333;
  //   color: #fff;
  //   text-align: center;
  //   padding: 10px 0;
  // }


  .footer {
    padding: 10px 0;
    background-color: #333;
    text-align: center;
    border-top: none;
    margin: 0;
  }
  
  .footer-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .footer-nav li {
    margin: 0 15px;
  }
  
  .footer-nav a {
    font-size: 1rem;
    text-decoration: none;
    color: #c2d4e7;
  }
  
  .footer-nav a:hover {
    text-decoration: underline;
  }
  


