<!-- ed -->
    <!-- <div id="preloader">
        <div id="loader"></div>
    </div>
     -->
<!--     
     <header class="s-header">
        <div class="row s-header__nav-wrap">
            <nav class="s-header__nav">
                <ul>
                    <li class="current"><a (click)="scrollToSection('#hero')">Home</a></li>
                    <li><a (click)="scrollToSection('#about')">About</a></li>
                    <li><a (click)="scrollToSection('#resume')">Resume</a></li>
                    <li><a (click)="scrollToSection('#testimonials')">Testimonials</a></li>
                    <li><a (click)="scrollToSection('#contact')">Contact</a></li>
                </ul>
            </nav>
        </div> 
        
        <a class="s-header__menu-toggle" href="#0" title="Menu">
            <span class="s-header__menu-icon"></span>
        </a>
    </header> -->
    <div class="container">
        <div class="sidebar-indicator"></div>
        <div class="sidebar">
            <div class="sidebar-header"></div>
            <ul class="sidebar-menu">
                <li class="current"><a (click)="scrollToSection('#hero')">Home</a></li>
                <li><a (click)="scrollToSection('#about')">About</a></li>
                <li><a (click)="scrollToSection('#resume')">Resume</a></li>
                <li><a (click)="scrollToSection('#testimonials')">Testimonials</a></li>
                <li><a (click)="scrollToSection('#contact')">Contact</a></li>
            </ul>
        </div>
    
        <div class="main-content">
            <section id="hero" class="hero-section">
                <div class="row">
                    <div class="content">
                        <h1>I'm Moubien Kayali.</h1>
                        <h3>
                            I'm a Moubien <span>Full Stack</span>, <span>Developer</span> and <span>Private Teacher</span> creating awesome and
                            effective visual identities for companies of all sizes around the globe. Let's <a class="smoothscroll" href="#about">start scrolling</a>
                            and learn more <a class="smoothscroll" href="#about">about me</a>.
                        </h3>
                        <div class="s-hero__scroll">
                            <a href="#about" class="s-hero__scroll-link smoothscroll" (click)="scrollToSection('#about')">
                                <span class="scroll-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:-ms-filter"><path d="M18.707 12.707L17.293 11.293 13 15.586 13 6 11 6 11 15.586 6.707 11.293 5.293 12.707 12 19.414z"></path></svg>
                                </span>
                                <span class="scroll-text">Scroll Down</span>
                            </a>
                        </div> 
                    </div>
                    
             
                </div>
       
            </section>
     
         
        </div>
    </div>
    
     



    <!-- <section id="hero" class="s-herox target-section">

        <div class="s-hero__bg rellax" data-rellax-speed="-7"></div>

        <div class="row s-hero__content">
            <div class="column">

                <div class="s-hero__content-about">

                    <h1>I'm Moubien Kayali.</h1>

                    <h3>
                    I'm a Moubien <span>Full Stack</span>, <span>Developer</span> and <span>Private Teacher</span> creating awesome and
                    effective visual identities for companies of all sizes around the globe. Let's <a class="smoothscroll" href="#about">start scrolling</a>
                    and learn more <a class="smoothscroll" href="#about">about me</a>.
                    </h3>

                    <div class="s-hero__content-social">
                        <a href="#0"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
                        <a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        <a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        <a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#0"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    </div>

                </div> 

            </div>
        </div> 

        <div class="s-hero__scroll">
            <a href="#about" class="s-hero__scroll-link smoothscroll" (click)="scrollToSection('#about')">
                <span class="scroll-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:-ms-filter"><path d="M18.707 12.707L17.293 11.293 13 15.586 13 6 11 6 11 15.586 6.707 11.293 5.293 12.707 12 19.414z"></path></svg>
                </span>
                <span class="scroll-text">Scroll Down</span>
            </a>
        </div> 

    </section>   -->



    <section id="about" class="s-about target-section">

        <div class="row">
            <div class="column large-3 tab-12">
                <!-- <img class="s-about__pic" src="images/avatars/user-06.jpg" alt=""> -->
                <img class="s-about__pic" src="assets/images/avatars/me.jpg" alt="">

            </div>
            <div class="column large-9 tab-12 s-about__content">
                <h3>About Me</h3>
                <p>
                    A passionate Full Stack Developer with a diverse skill set and a strong commitment to delivering high-quality,cations.
                </p>
                <p>
                    On the front-end, I specialize in Angular, creating dynamic and responsive user interfaces that provide seamless user experiences. My proficiency in HTML, CSS, and JavaScript allows me to craft intuitive and visually appealing web applications.
                </p>
                <p>
                    On the back-end, I am well-versed in Python and the .NET framework, including both .NET Core and .NET Framework. I have a deep understanding of building robust server-side applications and RESTful APIs. My work with databases spans SQL and NoSQL solutionss.
                </p>

                <hr>

                <div class="row s-about__content-bottom">
                    <div class="column w-1000-stack">
                        <h3>Contact Details</h3>
                        <p>
                            Moubien Kayali <br>
                            Saudi Arabia - Riyad <br>
                            <a href="tel:+966542551520">+966 54 255 1520</a> <br>
                            <a href="mailto:sayhello&#64;ceevee.com">mobeen-k&#64;hotmail.com</a>

                        </p>
                    </div>
                    <div class="column w-1000-stack">
                        <!-- <a href="#0" class="btn btn--download">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:-ms-filter"><path d="M12 16L16 11 13 11 13 4 11 4 11 11 8 11z"></path><path d="M20,18H4v-7H2v7c0,1.103,0.897,2,2,2h16c1.103,0,2-0.897,2-2v-7h-2V18z"></path></svg>
                            Download CV
                        </a> -->
                        <a href="assets/cv.pdf" class="btn btn--download" download="Moubien-Kayali-CV.pdf">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:-ms-filter">
                                <path d="M12 16L16 11 13 11 13 4 11 4 11 11 8 11z"></path>
                                <path d="M20,18H4v-7H2v7c0,1.103,0.897,2,2,2h16c1.103,0,2-0.897,2-2v-7h-2V18z"></path>
                            </svg>
                            Download CV
                        </a>
                        
                    </div>
                </div>
            </div>
        </div> <!-- end row -->

    </section> <!-- end s-about -->


        <!-- resume
    ================================================== -->
    <section id="resume" class="s-resume target-section">
        
        <div class="row s-resume__section">
            <div class="column large-3 tab-12">
                <h3 class="section-header-allcaps">Career</h3>
            </div>
            <div class="column large-9 tab-12">
                <div class="resume-block">

                    <div class="resume-block__header">
                        <h4 class="h3">Cloud Solutions</h4>
                        <p class="resume-block__header-meta">
                            <span>Senior Software Developer</span> 
                            <span class="resume-block__header-date">
                                July 2023 - Present
                            </span>
                        </p>
                    </div>

                    <p>
                        Cyclus Application for Claim Revenue Management
                        Optimization and performance tuning, through deep inspection of heavily 
                        data driven application that involves integrations with other systems such as Nphies.
                    </p>
                    <ul>
                        <li>Microservice architecture, Asynchronous and parallel processes handling.</li>
                        <li>.Net Core API, Ocelot Gateway.</li>
                        <li>SQL Server, EF Core, LINQ And Dapper</li>
                        <li>HL7 FHIR standard </li>
                        <li>NSSM, Windows Services, IIS, JIRA.</li>
                    </ul>

                </div> <!-- end resume-block -->

                <div class="resume-block">
                    <div class="resume-block__header">
                        <h4 class="h3">Wipro Arabia</h4>
                        <p class="resume-block__header-meta">
                            <span>Full Stack Developer</span> 
                            <span class="resume-block__header-date">
                                March 2022 - March 2023
                            </span> 
                        </p>
                        <ul>
                            <li>
                                 Attendance portal to show the reports of employees attendance with admin panel to add permissions of viewing data. company portals.
                            </li>
                            <li>
                                 Windows Worker service that sends SMS/Email notifications to employees for (weekly/daily)attendance
                            </li>
                            <li>
                                 Windows service built from scratch that fetches all TBC employees data from active directory and saves them into the database and it updates the data every 24 hours.
                            </li>
                            <li>
                                 Integration with IBM/BPM middleware.
                            </li>
                        </ul>
                    </div>
                </div> <!-- end resume-block -->

                <div class="resume-block">

                    <div class="resume-block__header">
                        <h4 class="h3">Alamiah for Internet & Communications</h4>
                        <p class="resume-block__header-meta">
                            <span>.NET Developer & Oracle Developer</span> 
                            <span class="resume-block__header-date">
                                Januray 2016 - May 2021
                            </span>
                        </p>
                    </div>

                    <p>
                        Developed SQL queries in Oracle and utilized PL/SQL to construct procedures, packages, functions, and triggers for the data access layer (DAL) within ASP.NET projects.
                        Conducted analysis of business requirements to architect appropriate database structures, including tables and related components such as Entity-Relationship Diagrams (ERD) and schema diagrams.
                        Managed Oracle database monitoring activities to ensure optimal performance and reliability.
                        Designed and implemented Crystal Reports, leveraging SQL queries, to furnish agents and printing employees with comprehensive reports and cards.
                        Enhanced daily database check program through C# updates to accommodate evolving monitoring needs effectively.
                        Produced comprehensive documentation and user manuals to facilitate the adoption of newly implemented features.
                        Demonstrated strong communication skills in effectively conveying technical concepts and collaborating with cross-functional teams.
                    </p>
                    Technologies Utilized:

                Programming Language: C#
                Server Side: ASP.NET (WEB Forms)
                Database: Oracle
                Client Side: JavaScript
                Markup Languages: HTML5, CSS3, XML
                Frameworks: .NET, Bootstrap
                Reporting: Crystal Reports
                Additional Skills: Entity Framework, ADO.NET, Encryption and Decryption, Team Foundation Server (TFS), LINQ

                </div> <!-- end resume-block -->

            </div>
        </div> <!-- s-resume__section -->


        <div class="row s-resume__section">
            <div class="column large-3 tab-12">
                <h3 class="section-header-allcaps">Education</h3>
            </div>
            <div class="column large-9 tab-12">
                <div class="resume-block">

                    <div class="resume-block__header">
                        <h4 class="h3">MSA University</h4>
                        <p class="resume-block__header-meta">
                            <span>Bachelor Degree in Electronic Circuits and Electrical Communications</span> 
                            <span class="resume-block__header-date">
                                October 2015
                            </span>
                        </p>
                    </div>

                    <p>
                        At MSA University, I pursued a Bachelor's Degree in Electronic Circuits and Electrical Communications. This comprehensive program provided me with a solid foundation in electrical engineering principles and practices.
                    </p>

                </div> <!-- end resume-block -->


            </div>
        </div> <!-- s-resume__section -->


        <div class="row s-resume__section">
            <div class="column large-3 tab-12">
                <h3 class="section-header-allcaps">Skills</h3>
            </div>
            <div class="column large-9 tab-12">
                <div class="resume-block">

                    <p>
                        Proficient in a variety of technologies and methodologies, I bring a dynamic skill set to the table. With expertise in .NET Core, Angular, and JavaScript, I am adept at developing robust and responsive web applications. My familiarity with Agile Development methodologies ensures efficient project execution and delivery. Additionally, I possess strong HTML and CSS skills, enabling me to create visually appealing and user-friendly interfaces. With a keen eye for UI/UX design principles, I strive to deliver intuitive and engaging user experiences across all platforms.
                    </p>

                    <ul class="skill-bars-fat">
                        <li>
                        <div class="progress percent90"></div>
                        <strong>.NET Core</strong>
                        </li>
                        <li>
                        <div class="progress percent85"></div>
                        <strong>Angular</strong>
                        </li>
                        <li>
                        <div class="progress percent65"></div>
                        <strong>Javascript</strong>
                        </li>
                        <li>
                        <div class="progress percent90"></div>
                        <strong>Agile Development</strong>
                        </li>
                        <li>
                        <div class="progress percent75"></div>
                        <strong>HTML, CSS</strong>
                        </li>
                        <li>
                        <div class="progress percent60"></div>
                        <strong>UI/UX</strong>
                        </li>
                    </ul>

                </div> <!-- end resume-block -->

            </div>
        </div> <!-- s-resume__section -->

    </section> <!-- end s-resume -->

    <!-- testimonials
    ================================================== -->
    <section id="testimonials" class="s-testimonials target-section">

        <div class="s-testimonials__bg"></div>

        <div class="row s-testimonials__header">
            <div class="column large-12">
                <h3>Hear What My Clients Says</h3>
            </div>
        </div>

        <div class="row s-testimonials__content">

            <div class="column">

                <div class="swiper-container testimonial-slider">

                    <div class="swiper-wrapperx">

                        <div class="testimonial-slider__slide swiper-slide">
                            <div class="testimonial-slider__author">
                                <img src="assets/images/avatars/abhay.png" alt="Author image" class="testimonial-slider__avatar">
                                <cite class="testimonial-slider__cite">
                                    <strong>Abhay Kumar Singh</strong>
                                    <span>Senior Manager, Saudi Investment Bank</span>
                                </cite>
                            </div>
                            <p>
                                I had the pleasure of working closely with Moubien on several .NET projects. Their technical skills and attention to detail consistently impressed me. He have a deep understanding of the .NET framework and a knack for finding elegant solutions to complex problems. Their teamwork and dedication make him a valuable asset to any development team. I highly recommend Moubien to anyone seeking a skilled and reliable .NET developer.
                            </p>
                        </div> 
        
                        <div class="testimonial-slider__slide swiper-slide">
                            <div class="testimonial-slider__author">
                                <img src="assets/images/avatars/muqeet.png" alt="Author image" class="testimonial-slider__avatar">
                                <cite class="testimonial-slider__cite">
                                    <strong>Mohammad Muqeet Ahmed</strong>
                                    <span>Senior Software Developer, Wipro Arabia</span>
                                </cite>
                            </div>
                            <p>
                                Moubien is one of the most valuable people I have ever met. Both smart and professional. Experienced, deadline oriented and intelligent person. Highly recommended.
                            </p>
                        </div> <!-- end testimonial-slider__slide -->
        
                        <div class="testimonial-slider__slide swiper-slide">
                            <div class="testimonial-slider__author">
                                <img src="assets/images/avatars/ali.png" alt="Author image" class="testimonial-slider__avatar">
                                <cite class="testimonial-slider__cite">
                                    <strong>Ali Al-Hilali</strong>
                                    <span>Database Adminstrator, 2P</span>
                                </cite>
                            </div>
                            <p>
                                Moubien Is a very good and reliable person on whom you can depend to complete the task at any give point of time He is very hardworking and dedicated person i have met and worked with He is an asset to the company.
                            </p>
                        </div> <!-- end testimonial-slider__slide -->

                        <div class="testimonial-slider__slide swiper-slide">
                            <div class="testimonial-slider__author">
                                <img src="assets/images/avatars/rama.png" alt="Author image" class="testimonial-slider__avatar">
                                <cite class="testimonial-slider__cite">
                                    <strong>Ramakrishna Challagundla</strong>
                                    <span>Digital Transformation & Integration Expert, Wipro International</span>
                                </cite>
                            </div>
                            <p>
                                I have had the pleasure of working with a number of developers, but Moubien Kayali stands out as the most talented.
                                As a team member, he consistently gave 100% of what he had, and was instrumental in ensuring the timely completion of our projects.
                            </p>
                        </div> <!-- end testimonial-slider__slide -->
    
                    </div> <!-- end testimonial slider swiper-wrapper -->

                    <div class="swiper-pagination"></div>

                </div> <!-- end swiper-container -->

            </div> <!-- end column -->

        </div> <!-- end row -->

    </section> <!-- end s-testimonials -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact target-section">

        <div class="row s-contact__header">
            <div class="column large-12">
                <h3 class="section-header-allcaps">Say Hello</h3>
            </div>
        </div>

        <div class="row s-contact__content">

            <div class="column large-7 medium-12">

                <h4 class="huge-text">
                Have a new project in mind? Looking for programming private teacher. 
                Let's connect and discuss
                </h4>

            </div>

            <div class="column large-4 medium-12">

                <div class="row contact-infos">
                    <div class="column large-12 medium-6 tab-12">
                        <div class="contact-block">
                            <h5 class="contact-block__header">
                                Email
                            </h5>
                            <p class="contact-block__content">
                                <a class="mailtoui" href="mailto:sayhello@ceevee.com">mobeen-k&#64;hotmail.com</a>
                            </p>
                        </div> <!-- end contact-block -->
                    </div>
                    <div class="column large-12 medium-6 tab-12">
                        <div class="contact-block">
                            <h5 class="contact-block__header">
                                Phone
                            </h5>
                            <p class="contact-block__content">
                                <a href="tel:+54 2551520">+966 54 255 1520</a>
                            </p>
                        </div> <!-- end contact-block -->
                    </div>

                    <!-- <div class="column large-12">
                        <a href="mailto:sayhello@ceevee.com" class="mailtoui btn btn--primary h-full-width">Let's Talk</a>
                    </div> -->
                    <div class="column large-12">
                        <a href="https://wa.me/966542551520" class="btn btn--primary h-full-width" target="_blank">Let's Talk</a>
                    </div>

                    
                    
                </div> <!-- end contact-infos -->

            </div>
        </div> <!-- s-contact__content -->

    </section> <!-- end s-contact -->
    <!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="row">
            <div class="column large-4 medium-6 w-1000-stack s-footer__social-block">
                <ul class="s-footer__social">
                    <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="column large-7 medium-6 w-1000-stack ss-copyright">
                <span>© Copyright Ceevee 2021</span> 
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>
        </div>

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"/></svg>
             </a>
        </div> <!-- end ss-go-top -->
    </footer>